{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login Page</title>
{% endblock title %}

{% block content %}
<div style="margin-top:8%;">
	<center><h2 style="text-align:center;font-family: Impact;padding-left: 40px;padding-right: 40px;font-size:32px; "><span style="color:red;font-weight: bolder;">L</span>
       <span style="color:blue;;font-weight: bolder;">o</span>
       <span style="color:yellow;;font-weight: bolder;">g</span>
       <span style="color:green;;font-weight: bolder;">i </span>
       <span style="color:orange;;font-weight: bolder;">n</span>&emsp;
       <span style="color:red;;font-weight: bolder;">o</span>
       <span style="color:blue;;font-weight: bolder;">n</span>&emsp;
       <span style="color:yellow;;font-weight: bolder;">T</span>
       <span style="color:green;;font-weight: bolder;">a </span>
       <span style="color:orange;;font-weight: bolder;">s</span>
       <span style="color:darkblue;;font-weight: bolder;">k</span>
       <span style="color:red;;font-weight: bolder;">M</span>
       <span style="color:blue;;font-weight: bolder;">a</span>
       <span style="color:yellow;;font-weight: bolder;">t</span>
       <span style="color:green;;font-weight: bolder;">e </span></h2></center>
      
	
	{% if messages %}
        {% for i in messages %}
            <div class="alert alert-info alert-dismissible" style="color:white;background-color:#2ecc72;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> {{i}}
             </div>
              
        {% endfor %}
    {% endif %}
<center><div class="container" style="padding: 40px;">
<div class="row mt-2">
<div class="form-group col-lg-6" style="background-color:teal;padding-left: 20px;padding-right:20px;margin:0px;max-width: 100%;">
  
<form class="form-group" method="POST" style="box-shadow: 0 0 20px rgba(0,0,0,0.15);width:100%;font-family: Impact;height:100%;background-color: white;padding: 20px;text-align: left;">
<br>
<br>
	{% csrf_token %}
	{{ form|crispy }}
	<br><br>
<center><button type="submit"  style="background-color: teal;width:100%;color:white;padding:auto;margin: auto 0;" class="btn btn-primary-center">Login</button></center>
<br>
<br>
</form>
</div>
<div class="col-lg-6" style='float:right;'>
      <img src="{% static 'images/image6.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="100%" height="100%">
</div>

</div>
</div></center>
</div>
{% endblock content %}
