{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Login Page</title>
{% endblock title %}

{% block content %}
<div style="margin-top:8%;">
	<h2 style="text-align:center;font-family: Impact;"><span style="color:red;font-size: 40px;font-weight: bolder;">L</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">o</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">g</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">i </span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">n</span>&emsp;
       <span style="color:red;font-size: 40px;font-weight: bolder;">o</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">n</span>&emsp;
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">T</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">a </span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">s</span>
       <span style="color:darkblue;font-size: 40px;font-weight: bolder;">k</span>
       <span style="color:red;font-size: 40px;font-weight: bolder;">M</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">a</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">t</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">e </span></h2><br>
      
	
	{% if messages %}
        {% for i in messages %}
            <div class="alert alert-info alert-dismissible" style="color:white;background-color:#2ecc72;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> {{i}}
             </div>
              
        {% endfor %}
    {% endif %}
<div class="form-group" style="margin-left:500px;margin-right:500px;background-color: teal;padding-left: 20px;padding-right:20px;">
<form method="POST" style="box-shadow: 0 0 20px rgba(0,0,0,0.15);width:100%;font-family: Impact;height: 50%;background-color: white;padding: 20px;">

	{% csrf_token %}
	{{ form|crispy }}
	<br>
<center><button type="submit"  style="background-color: teal;width:200px;color:white;padding:auto;margin: auto 0;" class="btn btn-primary-center">Login</button></center>
<br>
</form>
</div>
</div>
{% endblock content %}