{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Logout Page</title>
{% endblock title %}

{% block content %}
<div style="margin-top:8%;" data-aos="flip-up">
	<h4 style="text-align:center;font-family: Impact;"><span style="color:red;font-size: 40px;font-weight: bolder;">L</span>
       
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">o</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">g</span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">g</span>
       <span style="color:red;font-size: 40px;font-weight: bolder;">e</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">d</span>&emsp;
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">o</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">u</span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">t</span>
       &emsp;
       <span style="color:orange;font-size: 40px;font-weight: bolder;">O</span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">f</span>&emsp;

       <span style="color:darkblue;font-size: 40px;font-weight: bolder;">T</span>
       <span style="color:red;font-size: 40px;font-weight: bolder;">a</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">s</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">k</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">M </span>
       <span style="color:darkblue;font-size: 40px;font-weight: bolder;">a </span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">t </span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">e </span>&emsp;
        <span style="color:blue;font-size: 40px;font-weight: bolder;">,</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">T</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">h</span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">a</span>
       <span style="color:red;font-size: 40px;font-weight: bolder;">n</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">k</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">y</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">o</span>
       <span style="color:orange;font-size: 40px;font-weight: bolder;">u</span>&emsp;
       <span style="color:blue;font-size: 40px;font-weight: bolder;">F</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">o</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">r</span>&emsp;
       <span style="color:orange;font-size: 40px;font-weight: bolder;">U</span>
       <span style="color:red;font-size: 40px;font-weight: bolder;">s</span>
       <span style="color:blue;font-size: 40px;font-weight: bolder;">i</span>
       <span style="color:yellow;font-size: 40px;font-weight: bolder;">n</span>
       <span style="color:green;font-size: 40px;font-weight: bolder;">g</span>&emsp;
       <span style="color:orange;font-size: 40px;font-weight: bolder;">U</span>
        <span style="color:orange;font-size: 40px;font-weight: bolder;">s</span>
        <span style="color:blue;font-size: 40px;font-weight: bolder;">!</span></h4><br>
      
	
	

</div>

{% endblock content %}